.o_item_max_dimension {
    width: 100%;
    .o_unit_of_measure{
        display: flex;
    }
    .o_item_max_height {
        display: flex;
    }
    .o_item_max_length {
        display: flex;
    }
    .o_item_max_width {
        display: flex;
    }
}